output/patent_static_all.csv filter=lfs diff=lfs merge=lfs -text
datasets/social_returns_data/raw/** filter=lfs diff=lfs merge=lfs -text
datasets/dyevre_empirical/output/patent_dyevre_style_variables.csv.gz filter=lfs diff=lfs merge=lfs -text
datasets/dyevre_empirical/output/patent_dyevre_style_variables.parquet filter=lfs diff=lfs merge=lfs -text
